* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}

.footer {
  color: white;
  padding: 25px;
  background-color: black;

}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* ========================================= */
/* =========contact us ========= */
/* .contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.card {
  border: none;
  padding: 10px;
}

.registration_topmargin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.registration_card_shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.registrationInputs_padding {
  padding-left: 20px;
  padding-right: 20px;
}

.registrationBtn {
  width: 100%;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

/* ========================= */

#register_bg {
  background-image: url('./images/bg1.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

#login_bg {
  background-image: url('./images/bg1.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

#forgot_bg {
  background-image: url('./images/bg1.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

#admin_bg {
  background-image: url('./images/bg3.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

#admin_bg1 {
  background-image: url('./images/bg3.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

#admin_bg2 {
  background-image: url('./images/bg3.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

#admin_bg3 {
  background-image: url('./images/bg3.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#home_bg {
  background-image: url('./images/bg3.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  width: 100%;
}

#singleproduct_bg {
  background-image: url('./images/bg3.jpg');
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.admin_table {
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.admin_topmargin {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .admin_topmargin {
    padding-top: 50px;
    width: 100%;
  }
}
